<!DOCTYPE html>
<html>
<head>
  <title>Smsreply</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <style>
    #tipbtn {
      float: right;
      cursor: pointer;
    }
  </style>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js" type="text/javascript"></script>
  <script src="http://mrcote.info/tipjar/tipjar.js"></script>
  <script>
    $(document).ready(function () {
      tipjar($("#tipbtn"), '1310000000023328', 0.05);
    });
  </script>

  <%= csrf_meta_tags %>
</head>
<body>


<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= render :partial => "layouts/header" %>

<%= yield %>

<br/>
<%= link_to "View full site", url_for(:full_site => 1) %>
<%= link_to "View mobile site", url_for(:mobile_site => 1) %>

</body>
</html>
